<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community Library</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1 class="text-center">Community Library</h1>

        <div class="form-container" id="loginContainer">
            <!-- Login Form -->
            <form id="loginForm" class="form-signin">
                <h2 class="form-signin-heading">Login</h2>
                <label for="loginUsername" class="sr-only">Username</label>
                <input type="text" id="loginUsername" name="username" class="form-control" placeholder="Username" required autofocus>

                <label for="loginPassword" class="sr-only">Password</label>
                <input type="password" name="password" id="loginPassword" class="form-control" placeholder="Password" required>

                <button type="submit" id="loginButton" class="btn btn-lg btn-primary btn-block" disabled>Login</button>
                
                <div class="text-center mt-3">
                    <a href="#" id="showReset">Forgot password?</a>
                </div>

                <div class="or-divider">
                    <span>OR</span>
                </div>
            </form>
            <div class="text-center mt-3">
                <p>Don't have an account? <a href="#" id="showSignUp">Sign Up</a></p>
            </div>
        </div>

        <div class="form-container" id="signupContainer" style="display: none;">
            <!-- Sign Up Form -->
            <form id="signUpForm" class="form-signin">
                <h2 class="form-signin-heading">Sign Up</h2>
                <p class="text-center" style="font-size: 1.2rem;">Sign up to explore the world of books</p>
                <label for="signUpUsername" class="sr-only">Username</label>
                <input type="text" id="signUpUsername" name="username" class="form-control" placeholder="Username" required>

                <label for="signUpemail" class="sr-only">First Name</label>
                <input type="email" id="signUpemail" name="Email" class="form-control" placeholder="Email" required>

                <label for="fname" class="sr-only">First Name</label>
                <input type="text" id="fname" name="First Name" class="form-control" placeholder="First Name" required>

                <label for="lname" class="sr-only">Last Name</label>
                <input type="text" name="Last Name" id="lname" class="form-control" placeholder="Last Name" required>

                <label for="signUpPassword" class="sr-only">Password</label>
                <input type="password" name="password" id="signUpPassword" class="form-control" placeholder="Password" required>

                <button type="submit" id="signUpButton" class="btn btn-lg btn-primary btn-block" disabled>Sign Up</button>
            </form>
            <div class="text-center mt-3">
                <p>Have an account? <a href="#" id="showLogin">Login</a></p>
            </div>
        </div>

        <div class="form-container" id="resetPassContainer" style="display: none;">
            <!-- Password Reset Form -->
            <form id="resetPassForm" class="form-signin">
                <h2 class="form-signin-heading">Trouble logging in?</h2>
                <p class="text-center">Enter your username and we'll send you a link to reset your password.</p>
                <label for="resetUsername" class="sr-only">Username</label>
                <input type="text" id="resetUsername" name="username" class="form-control" placeholder="Username" required>

                <button type="submit" id="resetButton" class="btn btn-lg btn-primary btn-block" disabled>Send reset link</button>
            </form>
            <div class="or-divider">
                <span>OR</span>
            </div>
            <div class="text-center mt-3">
                <p>Can't reset your password? <a href="#" id="showSignUpFromReset">Create new account</a></p>
                <p><a href="#" id="showLoginFromReset">Back to login</a></p>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="script.js"></script>
</body>
</html>
