<html>
<head>
    <title>Secure Login System</title>
</head>

<body>
    <div class = "container">
        <h1>Enter Your Details</h1>
        <div class = "form-container">
            <form id="signUpForm">
                <h2>Sign Up</h2>
                <label for="signInUsername">Username:</label>
                <input type="text" id = "signupUsername" name="username" required>
                
                <label for="signInPassword">Password:</label>
                <input type="password" name="password" id="signUpPassword" required>
                
                <button type="submit">Sign In</button>
            </form>
        </div> 
    </div>
</body>

</html>